@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

#root { height: 100vh; background: #E7CFCD; display: flex; justify-content: center; align-items: center; font-family: 'PT Mono', monospace, sans-serif; } /* width: 100vw issue */
.container { width: 100%; max-width: 1000rem; padding: 20rem; background: #fff; border-radius: 10rem; } 
.dashed-line { width: 100%; height: 100%; border: 2rem dashed rgba(102, 102, 102, .5); border-radius: 10rem; } 
.wrap { position: relative; padding: 20rem; } 
.inner { display: flex; justify-content: space-between; align-items: stretch; } 

.home-left { background: salmon; width: 250rem; border: 1rem solid #ccc; border-right: 0; border-radius: 10rem; flex-shrink: 0; background: #f1f1f1; font-size: 13rem;  } 
.home-left-body {margin-top: 20rem; background: #fff; border-radius: 10rem; height: 100%; padding: 20rem; border: 1rem solid #ccc;height: 100vh; max-height: 370rem; }
.home-right { width: calc(100% - 250rem); border: 1rem solid #ccc; border-left: 0; border-radius: 10rem; background: #f1f1f1; } 
.home-right-body { position: relative; height: 100%; background: #fff;  margin-top: 20rem; padding: 20rem; border-radius: 10rem; border: 1rem solid #ccc; height: 100vh; max-height: 370rem;} 

.mg20 { margin: 20rem; } 
 
/* .days { margin-bottom: 10rem; display: flex; text-align: center; font-size: 12px; } 
.day { width: calc(100% / 7) } 
.dates { display: flex; row-gap: 10rem; flex-flow: row wrap; } 
.date { width: calc(100% / 7); text-align: center; }  */
/* .day { width: calc(100% / 7) } 
.dates { display: flex; row-gap: 10rem; flex-flow: row wrap; } 
.date { width: calc(100% / 7); text-align: center; }  */

@media (max-width: 1180px) {
    #root { padding: 30rem; } 
}

@media (max-width: 768px){
    #root{height: 100%; padding: 30rem 60rem;}
    .inner { flex-direction: column; } 
    .inner > div { min-height: 150rem; } 
    .home-left, .home-right { width: 100%; } 
}
